<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Se connecter</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<header class="my-4">
    <h5 class="fw-bold text-center">My Budget</h5>
</header>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-4">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h2 class="card-title fw-bold">S'inscrire</h2>
                    <span class="text-muted">Vous avez déjà un compte ?</span>
                    <p><a class="text-decoration-none" href="{{ path('security_login') }}"><b>Connectez-vous.</b></a></p>

                    {{ form_start(form) }}
                        <div class="form-floating mb-3">
                            {{ form_widget(form.email) }}
                            <label for="register_email">Adresse e-mail</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form_widget(form.plainPassword) }}
                            <label for="register_plainPassword">Mot de passe</label>
                        </div>
                        <button class="btn btn-lg btn-primary rounded-5 w-100" type="submit">S'inscrire</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>