{% set class = 'spinner' %}
{% set displayClass = '' %}
{% set sizeClass = '' %}
{% set typeClass = 'spinner-border' %}

{% if additionalClass is defined %}
    {% set class = class ~ ' ' ~ additionalClass %}
{% endif %}

{% if color is not defined %}
    {% set color = 'dark' %}
{% endif %}

{% if display is defined and not display %}
    {% set displayClass = 'd-none' %}
{% endif %}

{% if sm is defined and sm %}
    {% set sizeClass = typeClass ~ '-sm' %}
{% endif %}

{% if type is defined %}
    {% set typeClass = type %}
{% endif %}

<span class="{{ class }} {{ displayClass }}">
    <span class="{{ typeClass }} {{ sizeClass }} text-{{ color }}" role="status"></span>
    <span class="visually-hidden">Loading...</span>
</span>