{% extends 'base.html.twig' %}

{% block title %}{{ account.name }}{% endblock %}

{% block body %}
    <div class="container mb-5">

        <div class="row mb-3">
            <div class="col">
                <a class="text-decoration-none text-dark" href="{{ path('wallet_savings_list') }}">
                    <h3><i class="fas fa-long-arrow-alt-left"></i>
                        {{ account.name }} - {{ account.balance }} {{ app.user.currency.sign }}
                    </h3>
                </a>
            </div>
        </div>

        <div class="row"></div>

        <div class="row">
            <div class="col-xl-5"></div>
            <div class="col-xl-7">
                {% include 'partials/_transactions_list.html.twig' with {'transactions': transactions} %}
            </div>
        </div>

    </div>
{% endblock %}