<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Se connecter</title>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 420px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    </style>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="text-center">

<main class="form-signin">

    <div class="card bg-light">
        <div class="card-body">
            <p class="mb-3 text-muted">Vous n'avez pas encore de compte ?<p>
            <p><a class="text-decoration-none" href="{{ path('register') }}"><b>Inscrivez-vous.</b></a></p>

            <form method="post">
                <h1 class="h3 mb-3 fw-normal">Se connecter</h1>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" autocomplete="username" required autofocus>
                    <label for="username">Adresse e-mail</label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe" autocomplete="password" required>
                    <label for="password">Mot de passe</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Restez connecté
                    </label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>

                {% if error is not null %}
                    <p class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
            </form>

        </div>
    </div>

</main>
</body>
</html>