{% extends 'base.html.twig' %}

{% block title %}{{ account.name }}{% endblock %}

{% block body %}
    <div class="container mb-5">

        <div class="checking-view-data d-none"
             data-account-id="{{ account.id }}"
             data-limit="{{ limit }}"
             data-offset="{{ offset }}">
        </div>

        <div class="row mb-3">
            <div class="col">
                <a class="text-decoration-none text-dark" href="{{ path('wallet_checking_list') }}">
                    <h3><i class="fas fa-long-arrow-alt-left"></i>&nbsp;{{ account.name }} - {{ account.balance }} {{ app.user.currency.sign }}</h3>
                </a>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-3">
                <div class="input-group mb-sm-3 mb-xl-0">
                    <label class="input-group-text" for=""><i class="fa fa-calendar-alt"></i></label>
                    <select class="form-select date-range">
                        <option value="1w">7 jours</option>
                        <option value="1m">30 jours</option>
                        <option value="ytd">Année en cours</option>
                        <option value="1y">1 an</option>
                        <option value="all">Tout</option>
                    </select>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="input-group mb-sm-3 mb-xl-0">
                    <label class="input-group-text" for=""><i class="fas fa-coins"></i></label>
                    <select class="form-select select-wording">
                        {% for wording in wordings %}
                            <option value="{{ wording }}">{{ wording }}</option>
                        {% endfor %}
                        <option selected value="all">Tous</option>
                    </select>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="input-group mb-sm-3 mb-xl-0">
                    <label class="input-group-text"><i class="fas fa-money-bill"></i></label>
                    <select class="form-select">
                        <option value="small">Entre 0 et 249 €</option>
                        <option value="medium">Entre 250 et 500 €</option>
                        <option value="large">Plus de 500 €</option>
                        <option value="all" selected>Tous</option>
                    </select>
                </div>
            </div>

            <div class="col-xl-2">
                <div class="input-group mb-sm-3 mb-xl-0">
                    <label class="input-group-text"><i class="fas fa-asterisk"></i></label>
                    <select class="form-select select-operation-type">
                        <option value="credit">Crédit</option>
                        <option value="debit">Débit</option>
                        <option value="all" selected>Tous</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="dropdown-divider my-3"></div>

        <div class="row">

            <div class="col-xl-5">
                <div class="sticky-top">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div>
                                <canvas id="checkingViewLineChart"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <div>
                                <canvas id="checkingViewBarChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-7 transactions-list">
                {% include 'partials/_transactions_list.html.twig' with {'transactions': transactions} %}
                <div class="text-center">
                    <button class="btn btn-primary load-more-transactions-button" type="button">
                        <span>Charger plus de résultats</span>
                        {% include 'partials/_loading_indicator.html.twig' with {customClass: 'loader', display: false} %}
                    </button>
                </div>
            </div>


        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('checking_view') }}
{% endblock %}