{% set sign = app.user.currency.sign %}

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Actifs</th>
        <th>Répartition</th>
        <th>Valeur</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a class="text-dark text-decoration-none" href="{{ path('wallet_checking_list') }}">
                <b>Comptes bancaires <i class="fas fa-long-arrow-alt-right"></i></b>
            </a>
        </td>
        <td class="fw-bold">{{ assets.checking.share|round }} %</td>
        <td><span class="fw-bold" data-secret-mode="true">{{ assets.checking.amount|round }} {{ sign }}</span></td>
    </tr>
    <tr>
        <td>
            <a class="text-dark text-decoration-none" href="{{ path('wallet_market_list') }}">
                <b>Comptes d'investissements <i class="fas fa-long-arrow-alt-right"></i></b>
            </a>
        </td>
        <td class="fw-bold">{{ assets.market.share|round }} %</td>
        <td><span class="fw-bold" data-secret-mode="true">{{ assets.market.amount|round }} {{ sign }}</span></td>
    </tr>
    <tr>
        <td>
            <a class="text-dark text-decoration-none" href="{{ path('wallet_savings_list') }}">
                <b>Livrets <i class="fas fa-long-arrow-alt-right"></i></b>
            </a>
        </td>
        <td class="fw-bold">{{ assets.savings.share|round }} %</td>
        <td><span class="fw-bold" data-secret-mode="true">{{ assets.savings.amount|round }} {{ sign }}</span></td>
    </tr>
    <tr>
        <td>
            <a class="text-dark text-decoration-none" href="{{ path('crowdlending_index') }}">
                <b>Crowdlending <i class="fas fa-long-arrow-alt-right"></i></b>
            </a>
        </td>
        <td class="fw-bold">{{ assets.crowdlendings.share|round }} %</td>
        <td><span class="fw-bold" data-secret-mode="true">{{ assets.crowdlendings.amount|round }} {{ sign }}</span></td>
    </tr>
    </tbody>
</table>