{% extends 'base.html.twig' %}

{% block title %}Crowdlending{% endblock %}

{% block body %}
    <div class="container">

        <div class="row mb-5">
            <div class="col">
                <a class="h2 text-decoration-none text-dark" href="{{ path('wallet') }}">
                    <i class="fas fa-long-arrow-alt-left"></i>&nbsp;Crowdlending
                </a>
            </div>
            <div class="col-auto">
                <a class="btn btn-primary" href="{{ path('asset_add_crowdlending') }}"><i class="fas fa-plus"></i>&nbsp;Ajouter un nouveau crowdlending</a>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header fw-bold text-center">Répartition</div>
                    <div class="card-body"></div>
                </div>
            </div>

            <div class="col-md-8">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr role="row">
                            <th>Nom</th>
                            <th>Durée (mois)</th>
                            <th>Rendement annuel</th>
                            <th>Valeur</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for crowdlending in crowdlendings %}
                            <tr>
                                <td style="width: 30%">{{ crowdlending.name }}</td>
                                <td style="width: 20%">{{ crowdlending.duration }}</td>
                                <td style="width: 20%">{{ crowdlending.annualYield|number_format(2, ',', ' ') }} %</td>
                                <td style="width: 20%">{{ crowdlending.currentValue|number_format(2, ',', ' ') ~ ' ' ~ app.user.currency.sign }}</td>
                                <td class="hstack gap-3 w-100" style="width: 20%">
                                    <i class="cursor-pointer fas fa-edit" data-bs-toggle="tooltip" title="Modifier"></i>
                                    &nbsp;
                                    <i class="cursor-pointer fas fa-trash" data-bs-toggle="tooltip" title="Supprimer"></i>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}