{% for account in accounts %}
    {% set iconClass = 'fa-circle-check text-success' %}
    {% set editButtonLabel = 'Modifier cette connexion' %}

    {% if account.state is not null %}
        {% set iconClass = 'fa-exclamation-circle text-warning' %}
        {% set editButtonLabel = 'Reconnecter' %}
    {% endif %}

    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-header-{{ account.slug }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panels-{{ account.slug }}" aria-expanded="false"
                        aria-controls="panels-{{ account.slug }}">
                    <img src="{{ asset('images/' ~ account.id ~ '.webp') }}" width="32" height="32" alt="{{ account.name }}">&nbsp;{{ account.name }}&nbsp;
                    <i class="fa-solid fa-lg {{ iconClass }}"></i>
                </button>
            </h2>

            <div id="panels-{{ account.slug }}" class="accordion-collapse collapse" aria-labelledby="panels-{{ account.slug }}">
                <div class="accordion-body">
                    <small>Mis à jour {{ account.last_sync_at|date('d/m/Y H:i:s') }}</small>
                    <hr class="dropdown-divider">
                    <div id="connection-data" data-uuid="{{ account.id }}">
                        <button class="btn btn-sm btn-outline-primary edit-connection" data-name="{{ account.name    }}">
                            <i class="fas fa-pen"></i>&nbsp;
                            {{ editButtonLabel }}
                        </button>
                        <button class="btn btn-sm btn-outline-danger float-end delete-connection">
                            <i class="far fa-trash-alt"></i>&nbsp;
                            Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
