{{ form_start(userAccountForm, { 'attr': {'id': 'validateAccountForm'} }) }}

    <div class="row mb-xl-3">
        <div class="col-xl-6">
            <label for="name" class="form-label">{{ 'forms.user_account.labels.firstname'|trans }}</label>
            {{ form_widget(userAccountForm.firstname) }}
        </div>
        <div class="col-xl-6">
            <label for="firstName" class="form-label">{{ 'forms.user_account.labels.lastname'|trans }}</label>
            {{ form_widget(userAccountForm.lastname) }}
        </div>
    </div>

    <div class="row mb-xl-3">
        <div class="col">
            <label for="email" class="form-label">{{ 'forms.user_account.labels.email'|trans }}</label>
            {{ form_widget(userAccountForm.email) }}
        </div>
    </div>

    <div class="row mb-xl-3">
        <div class="col-xl-6">
            <label for="locale" class="form-label">{{ 'forms.user_account.labels.language'|trans }}</label>
            {{ form_widget(userAccountForm.language) }}
        </div>
        <div class="col-xl-6">
            <label for="currency" class="form-label">{{ 'forms.user_account.labels.currency'|trans }}</label>
            {{ form_widget(userAccountForm.currency) }}
        </div>
    </div>

    <div class="row text-end">
        <div class="col">
            <button type="submit" class="btn btn-primary validate-account">Valider</button>
        </div>
    </div>
{{ form_end(userAccountForm) }}
